<footer class="footer">
  <p>Copyright © <a href="https://opendevise.com" target="_blank" rel="noopener">OpenDevise Inc.</a> and individual contributors to <a href="https://antora.org">Antora</a>. Chat powered by <a href="https://zulip.com" title="Zulip is an open-source modern team chat app" target="_blank" rel="noopener">Zulip</a>. Site deploys by <a href="https://netlify.com" target="_blank" rel="noopener">Netlify</a>.</p>
  <p>Except where otherwise noted, docs.antora.org, Antora, and the Antora UI, are licensed under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public License Version 2.0</a> (MPL-2.0).</p>
  <p>AsciiDoc® is a trademark of the Eclipse Foundation, Inc.</p>
</footer>
